  
//  COLORS
 $primary-text-color: #212121;
  $seconadary-text-color: #ffff;
  $title-color: #0000;
  $sub-title-color: #212121;
  $artical-color-text: #757575;
  $primary-background: #ffffff;
  $section-bg-color: #2f303a;
  $section-bg-color-tow: #f5f4fa;
  $hover-color: #2196f3;
  $hover-big-button: #188ce8;
  $active-color: #2196f3;
  $first-word-color: #2196f3;
  $second-word-color: #000000;
  $button-color: #f5f4fa;
  $footer-link-color: #ffffff99;
  $section-foure-color: #e5e5e5;
  $social-link-hover:#AFB1B8;
  $icon-background-color:#f5f4fa;

  // Main Font
  $main-font-family: "Roboto", sans-serif;
  $text-size: 14px;