/* BUTTONS */
.main-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $hover-color;
  border-radius: 4px;
  padding: 10px 32px;
  color: $seconadary-text-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: none;
  letter-spacing: 0.06em;
  margin: 0 auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
	  background-color: $hover-big-button;
  		box-shadow: 0px 4px 4px 0px #00000026;
  }
}

.button-modal-form--mod{
	padding: 10px 55px 10px 56px;
	line-height: 1.87;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.button {
  display: flex;
  cursor: pointer;
  background-color: $button-color;
  color: $primary-text-color;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  &:hover,
  &:focus {
	color: $seconadary-text-color;
  background-color: $hover-color;
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
  } 
}
.button--active {
  background-color: $hover-color;
  color: $seconadary-text-color;
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
  font-weight: 700;
}

.button-madal-close{
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid hsla(0, 0%, 0%, 0.1);
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		border: 1px solid $hover-color;
		outline: transparent;
		.button-madal-close__icon{
			fill: $hover-color;
		}
	}
	&:focus{
		border: 1px solid $hover-color;
		outline: transparent;
	}

	&__icon{
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}