/*                             backdrop                                 */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: 4;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	min-width: 528px;
	min-height: 581px;
	background-color: $primary-background;
	border-radius: 4px;
	padding: 40px 40px;
	&__title {
	color: $primary-text-color;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	display: block;
	margin-bottom: 12px;
	}
	&__form {
	display: block;
	
	}

}
.overlay{
	&.is-hidden {
	opacity: 0;
	pointer-events: none;

}
}
.overlay{
	&.is-hidden + .modal{
				transform: translate(-50%, -50%) scale(0.7);
				opacity: 0;
		}
		
	
}




.modal__form-field {
	position: relative;
	margin-bottom: 10px;
	display: block;
}

.modal__form-input,
 .modal__form-textar{
	cursor: pointer;
	display: block;
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 11px 12px 11px 42px;
	color: $artical-color-text;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	outline: transparent;
	&:hover,
	&:focus {
		border: 1px solid #2196F3;
	}
	
}

.modal__form-name {
	display: block;
	color: $artical-color-text;
	font-size: 12px;
	line-height: 1.16;
	margin-bottom: 4px;
	letter-spacing: 0.01em;

}

.modal__form-icon {
	position: absolute;
	top: 50%;
	left: 0;
	width: 18px;
	height: 18px;
	margin-left: 12px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input{
	&:focus + .modal__form-icon{
		fill: $hover-color;
	}
	
}
.modal__form-comments {
	display: block;
	margin-bottom: 20px;
}
.modal__form-textar {
	display: block;
	width: 100%;
	resize: none;
	padding: 12px 16px;
	min-height: 120px;
	color: $artical-color-text;
	line-height: 1.16;
	letter-spacing: 0.01em;
	margin-bottom: 0;

}
.modal__form-textar{
	&::placeholder{
	color: rgba(117, 117, 117, 0.5);
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	}
}

.modal__form-chackbox{
	-webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
}
.modal__form-lable{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.modal__chackbox-icon{
	cursor: pointer;
	width: 16px;
	height: 15px;
	fill: $seconadary-text-color;
	background: $section-bg-color-tow;
	border: 2px solid $primary-text-color;
	border-radius: 3px;
	margin-right: 8px;
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}

.modal__form-chackbox {
	&:checked + .modal__chackbox-icon {
		width: 16px;
		height: 15px;
		fill: $seconadary-text-color;
		background: $hover-color;
		border: 2px solid $hover-color;
	}
	&:focus + .modal__chackbox-icon {
		border: 2px solid $hover-color;
	}
	
	
}
.modal__chackbox-icon{
	&:hover {
			border: 2px solid $hover-color;
	}
}

.modal__chackbox-text {
	color: $artical-color-text;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.modal__form-link {
	color: $hover-color;
	line-height: 1.7;
	letter-spacing: 0.03em;
}